*{
    box-sizing: border-box;
}
*:focus{
    outline: mone;
}
body{
    font-family: Arial;
    /* padding: 80px; */
    background-color:rgb(37, 175, 229);
}
/* main{
    padding: 80px;
} */
.scroll-top{
    width: 8%;
    height: 2em;   
    font-size: 1.3em;
    background-color: rgb(27, 102, 132);
    text-align: center;
    border-radius: 5px;
    display: block;
    box-sizing: border-box;
    color: #FFF;
    text-decoration: none;
    text-align: center;
}
header{
    margin-left: 80% ;
    margin-right: 20%;
    text-align: center;
}
.app-title{
    text-align: center;
    color: white;
    /* padding: 1px 20px; */
}
h1{
    font-size: 60px;
}
.form{
    text-align: center;
    font-size: 20px;
    /* padding: 80px; */
    margin-top: 160px;
}
.targetarea{
    text-align: center;
    
}
#place{
    border: 2px solid #4d4c49;
    width:30%;
    height: 60px;
    margin:20px 80px;
    font-size: 1em;
    background-color: rgb(27, 102, 132);
    color: white;
    text-align: center;
}



.initialization {
    width: 30%;
    padding: 25px;
    font-size: 1em;
    background: rgb(27, 102, 132);
    border-radius: 10px;
    display: block;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-align: center;
    margin: auto; /* 水平方向のマージンを自動調整 */
}

.initialization a {
    display: inline-block;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.3em;
}

.initialization:hover {
    background-color: rgb(209, 48, 48);}

