/* *{
    box-sizing: border-box;
}
*:focus{
    outline: mone;
}
header{
    margin-left: 80% ;
    margin-right: 20%;
    text-align: center;
}
body{
    font-family: Arial;
    background-color:rgb(37, 175, 229);
    padding: 40px;
}
.scroll-top{
    margin-top: 0;
    width: 8%;
    height: 2em;   
    font-size: 1.3em;
    background: rgb(27, 102, 132);
    border-radius: 5px;
    display: block;
    box-sizing: border-box;
    color: #FFF;
    text-decoration: none;
}
.scroll-top p{
    text-align: center;  
}
.app-title{
    text-align: center;
    font-size: larger;
    color: white;
}
.profile-screen{
    border: 2px groove #4d4c49;
    width: 90%;
    height: 90%;
    margin:0 30px;
    font-size: 1.3em;
    background: rgb(27, 102, 132);
    border-radius: 5px;
    display: block;
    box-sizing: border-box;
    color: #FFF;
    border-radius: 30px;
}
.profileform{
    display: flex;
    flex-wrap: nowrap;
}
h1{
    font-size: 60px;
}
h2{
    text-align: center;
    margin: 100px;
    margin-left: 100px;
    margin-top: 160px; 
}
img{
    margin-top: 120px;
    margin-left: 10%;
}
textarea{ 
    width: 90%;
    border: 2px groove #4d4c49;
    font-size: 1.3em;
    margin:5px 0;
    margin-top: 0px;
    text-align: center; 
    border-radius: 30px;
    letter-spacing: 10px;
}
.box{
    margin: 60px 90px;
} */

*{
    box-sizing: border-box;
}
*:focus{
    outline: mone;
}
/* .profile{
    text-align: center;
    height: 90%;

} */
header{
    margin-left: 80% ;
    margin-right: 20%;
}
body{
    font-family: Arial;
    background-color:rgb(37, 175, 229);

    /* padding: 40px; */
    
}
.scroll-top{
    width: 8%;
    height: 2em;   
    font-size: 1.3em;
    background: rgb(27, 102, 132);
    border-radius: 5px;
    display: block;
    box-sizing: border-box;
    color: #FFF;
    text-decoration: none;
}
.scroll-top p{
    text-align: center;  
}
.app-title{
    text-align: center;
    font-size: larger;
    color: white;
}
.profile-screen{
    border: 2px groove #4d4c49;
    width: 90%;
    height: 90%;
    margin: 5px 30px;
    font-size: 1.3em;
    background: rgb(27, 102, 132);
    border-radius: 5px;
    display: block;
    box-sizing: border-box;
    color: #FFF;
    border-radius: 30px;
}
.profileform{
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
}
h1{
    font-size: 60px;
}
h2{
    text-align: center;
    margin: 100px;
    margin-left: 100px;
    margin-top: 160px;
    
    /* text-align: left;
    margin: 50px 50px; */
}
img{
    margin-top: 120px;
    margin-left: 10%;
    /* text-align: center; */
    /* margin:5px 0;
    margin-top: 0px; */
    /* margin: auto; */
}
textarea{ 
    width: 90%;
    border: 2px groove #4d4c49;
    font-size: 1.3em;
    margin:5px 0;
    margin-top: 0px;
    text-align: center; 
    border-radius: 30px;
    letter-spacing: 10px;
}

.box{
    margin: 60px 90px;
}
